body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

  
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(http://localhost:3666/img/bakcgroundweb.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

body > header,
body > main {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    color: whitesmoke;
}

header > div {
    font-size: 30px;

}

header > img {
    border-radius: 10px;
    float: left;
    margin-left: 20px;
    height: 300px;
    width: 1000px;
    box-shadow: 2px 2px 20px 20px whitesmoke;
    background-color: whitesmoke;
}

header > div {
    display: inline-block;
    width: 1000px;
    border: 3px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px;
    background-image: url(http://localhost:3666/img/cloud4.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 2px 2px 20px 20px whitesmoke;
    background-color: whitesmoke;

}

header > div > nav {
    float: right;
    margin-top: 10px;
}

main > img {
    margin-top: 20px;
}

nav > a {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 2px;
    line-height: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
}

nav > a:hover {
    color: rgb(165, 125, 72);
    font-size: 35px;
    margin-top: 8px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;
}

main {
    display: inline-block;


}

.head2 {
    width: 1000px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    background-image: url(http://localhost:3666/img/cloud4.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;
}

.head2div {
    display: inline-block;
    width: 994px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-image: url(http://localhost:3666/img/cloud4.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;

}

.head2div1 {
    float: right;
    width: 400px;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    background-image: url(http://localhost:3666/img/cloud4.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;

}

.head2div2 {
    float: left;
    width: 400px;
    height: 500px;
}

.head2div2img {
    width: 400px;
    height: 460px;
    border: 2px solid black;
    margin: 20px;
}

.head3 {
    width: 1000px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    background-image: url(http://localhost:3666/img/cloud4.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;

}

.head3div {
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
}

.harmonydiv {
    display: inline-block;
    width: 1000px;
    background-image: url(http://localhost:3666/img/clouds.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;
}

.harmonyp {
    float: right;
    width: 497px;
    height: 450px;
    text-align: left;
    margin-top: 20px;
}

.harmony {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.paladindiv {
    display: inline-block;
    width: 1000px;
    background-image: url(http://localhost:3666/img/cloud2.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;
}


.paladinp {
    float: left;
    width: 497px;
    height: 450px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.paladin {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

.shadowdiv {
    display: inline-block;
    width: 1000px;
    background-image: url(http://localhost:3666/img/cloud3.png);
    border-radius: 20px;
    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    background-color: whitesmoke;

}

.shadowp {
    float: right;
    width: 497px;
    height: 450px;
    text-align: left;
    margin-top: 20px;
}

.shadow {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

